footer.footer-way.page-footer
    div.container-fluid.footer-container.text-md-left
        div.row
            div.col-md-6
                h5.text-uppercase.f-t Proyecto
            div.col-md-3
                h5.text-uppercase.f-t Siguenos!
                li
                    a(href="") Facebook
                li
                    a(href="") Instagram
                li
                    a(href="") Twitter
                li
                    a(href="") Youtube
            div.col-md-3
                h5.text-uppercase.f-t Contactanos!
                p Caracas, Venezuela
                p info@gmail.com
                p +58 234 234 234
                p +58 234 234 234
    div.footer-copyright.f-copyr-chile.py-3.text-center
        div.container-fluid
            a.copyr-footer-text 2018 copyright: Soft Trading Technology