div(class="h-carousel {{cclass}}" id="{{cname}}")
    div(ng-repeat="item in items" index="slide.id" ng-class="{item: true, show: item.show}" id="{{cname}}-{{item.id}}")
        img(ng-src="{{item.image}}" style="margin:auto;")
        div( class="caption" ng-if="caption")
            h4 Slide {{item.id}}
            p {{item.text}}
    //Controls
    a(class="carousel-controller last" role="button" ng-click="control(0)" ng-if="controls")
        span(class="fas fa-chevron-left" aria-hidden="true")
        span(class="sr-only") Previous
    a(class="carousel-controller next" role="button" ng-click="control(1)"  ng-if="controls")
        span(class="fas fa-chevron-right" aria-hidden="true")
        span(class="sr-only") Next
    //indicadores