div(ng-controller="main as main" ng-init="main.init()")
    div(ng-include="''")
    .container
        .row
            .col-10.offset-1
            
                h1 Login
    div(ng-include="''")
    //div(ng-include="'/includes/blocks/block.html'")



